@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
/* Shared Styles */
.text-center{
    text-align: center;
}
.section-desc{
    font-size: 1rem;
    font-weight: 400;
    max-width: 535px;
}
.flex{
    display: flex;
}
.dark1{
    color: #131313;
}
.dark2{
    color: #424242;
}
.dark3{
    color: #727272;
}
.orange-color{
    color: #FF900E;
}
.header-background-color{
    background-color: rgba(255, 144, 14, 0.10);
}
.btn-primary{
    background-color: #FF900E;
    color:#FFF;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
main{
    max-width: 1440px;
    margin: 0px auto;
}
main > section{
    margin-top: 130px;
}
/* Hover Styles */
.nav-link:hover{
    color: #FF900E;
    transition: 0.2s;
}
.btn-primary:hover{
    background-color: #E07F0D;
    font-size: 1.25rem;
    transition: 0.2s;
}
/* header styles */

/* Navbar styles */
.nav-links{
    gap: 30px;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0px auto;
}
.brand{
    font-size: 2.8rem;
    font-weight: 700;
}
/* banner styles */
.banner-content{
    max-width: 860px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-desc{
    font-size: 1rem;
    font-weight: 400;
}
.banner-image{
    width: 100%;
}
/* Section related Styles */
.team-feature{
    gap: 75px;
    align-items: center;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}
#quick-list{
    font-size: 3rem;
    font-weight: 500;
}
#of-our{
    font-size: 3rem;
    font-weight: 700;
}
#feature-text{
    font-size: 3rem;
    font-weight: 700;
}
.our-features{
    max-width: 535px;
}
/* Enjoying feature related style */
.features{
    gap: 120px;
}
.feature-image{
    width: 100%;
}
.total-Feature-container{
    max-width: 590px;
}
.feature-title{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
    border-left: 8px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 24px;
}
.feature-info{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
    margin-bottom: 30px;
}
.card{
    padding: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}
.card-title{
    font-size: 1.25rem;
    font-weight: 600;
    color: #131313; 
    margin: 10px;
}
.card-desc{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
    margin: 10px;
}
.badge{
    padding: 45px 50px;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: #FFF;
    margin-left: -80px;
    margin-top: -100px;
}
#year{
    font-size: 4rem;
    font-weight: 700;
}
/* Some fact related Style */
.section-title{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
    margin-bottom: 25px;
}

.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    margin-top: 100px;
    justify-items: center;
}
.fact{
    width: 240px;
    height: 240px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}
.fact-title{
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 0px;
}
.fact-info{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
    margin-top: 5px;
    /* margin-bottom: 60px; */
}
/* Our sponsor */
.sponsor-info{
    max-width: 540px;
    margin: 10px auto;
}
.sponsor-company{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    filter: grayscale(100%);
    margin-top: 60px;
}
/* footer related styles */
.last-line{
    max-width: 1440px;
    margin: 130px auto;
    background: #FFF4E7;
    border-radius: 8px;
}
.footer-info{
    color: #424242;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    padding: 40px 40px;
}
/* Responsive Media Query */
@media screen and (max-width : 576px) {
    .navbar,
    .team-feature,
    .features{
        flex-direction: column;
    }
    .our-features{
        text-align: center;
    }
    .fact-container{
        grid-template-columns: repeat(1,1fr);
        gap: 25px;
        margin-top: 50px;
    }
    .section-title,
    .section-desc{
        text-align: center;
    }
    .sponsor-company{
        grid-template-columns: repeat(1,1fr);
        gap: 25px;
        justify-items: center;
    }
    .badge{
        margin-top: 20px;
        margin-left: 85px;
    }
}
/* For medium devices */
@media screen and (min-width : 576px) and (max-width : 992px) {
    .team-feature,
    .features{
        flex-direction: column;
    }
    .our-features,
    .features{
        text-align: center;
    }
    .fact-container
    {
        grid-template-columns: repeat(2,1fr);
        gap: 25px;
        margin-top: 50px;
    }
    .section-title,
    .section-desc{
        text-align: center;
    }
    .section-desc{
        margin: 0px auto;
    }
    .sponsor-company{
        grid-template-columns: repeat(2,1fr);
        gap: 25px;
        justify-items: center;
    }
    .total-Feature-container{
    max-width: 100%
    }
    .badge{
        margin: 0px auto;
        margin-top: -100px;
    }
}