@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
/* Shared Styles */
.flex{
    display: flex;
}
.dark1{
    color: #131313;
}
.dark2{
    color: #424242;
}
.dark3{
    color: #727272;
}
.orange-color{
    color: #FF900E;
}
.header-background-color{
    background-color: rgba(255, 144, 14, 0.10);
}
.btn-primary{
    background-color: #FF900E;
    color:#FFF;
    padding: 20px 25px;
    font-size: 1,25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
main{
    max-width: 1440px;
    margin: 0px auto;
}
main > section{
    margin-top: 130px;
}
/* Hover Styles */
.nav-link:hover{
    color: #FF900E;
    transition: 0.2s;
}
/* header styles */

/* Navbar styles */
.nav-links{
    gap: 30px;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0px auto;
}
.brand{
    font-size: 2.8rem;
    font-weight: 700;
}
/* banner styles */
.banner-content{
    max-width: 860px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-desc{
    font-size: 1rem;
    font-weight: 400;
}
.banner-image{
    width: 100%;
}
/* Section related Styles */
.team-feature{
    gap: 75px;
    align-items: center;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}
#quick-list{
    font-size: 3rem;
    font-weight: 500;
}
#of-our{
    font-size: 3rem;
    font-weight: 700;
}
#feature-text{
    font-size: 3rem;
    font-weight: 700;
}
.feature-desc{
    font-size: 1rem;
    font-weight: 400;
}
.our-features{
    max-width: 535px;
}
/* Responsive Media Query */
@media screen and (max-width : 576px) {
    .navbar{
        flex-direction: column;
    }
    .team-feature{
        flex-direction: column;
    }
    .our-features{
        text-align: center;
    }
}